.main-navigation {
	@media screen and (min-width: 37.5em) {
		flex: 0 1 100%;
	}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}

				&:after {
					content: '';
					background-color: $color__primary;
					display: block;
					height: 3px;
					width: 0;
					position: absolute;
			    bottom: -5px;
				}

				&:hover {
					&:after {
						height: 3px;
						width: 100px;
					}
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;
		counter-increment: step-counter;
		margin-bottom: 1rem;

		@media screen and (min-width: 37.5em) {
			margin-bottom: 0;
				
				&:after {
					content: '';
					background-color: transparent;
					display: block;
					height: 3px;
					width: 0;
					position: absolute;
			    bottom: -5px;

			   -webkit-transition: background-color 0.25s, width 0.25s;
			   -moz-transition: background-color 0.25s, width 0.25s;
			   -ms-transition: background-color 0.25s, width 0.25s;
			   -o-transition: background-color 0.25s, width 0.25s;
			   transition: background-color 0.25s, width 0.25s;
			   
				}
		}

		&:hover,
		&.focus {

			@media screen and (min-width: 37.5em) {
				&:after {
					content: '';
					background-color: $color__primary;
					display: block;
					height: 3px;
					width: 100%;
					position: absolute;
			    bottom: -5px;
				}
			}
		}
	}

	a {
		display: flex;
		flex-direction: column;

		&:before {
			content: "0" counter(step-counter);
			font-family: $font__mono;
			color: $color__primary;
			font-size: 1rem;
			display: flex;
			line-height: 1;
		}

		color: black;
		display: block;
		text-decoration: none;
		display: flex;
		line-height: 1;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: black;
	}
	.current_page_item,
	.current-menu-item,
	.current_page_ancestor,
	.current-menu-ancestor {
		&:after {
			content: '';
			background-color: $color__primary;
			display: block;
			height: 3px;
			width: 100%;
			position: absolute;
	    bottom: -5px;
		}
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul,
.site-header .registration_link.toggled {
	display: block;
}

.menu-toggle {
	flex: 0 1 50%;
	margin-bottom: 1rem;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation {
		flex: 1 1 100%;
		justify-content: space-between;

		ul {
			display: flex;
			flex-grow: 1;
			justify-content: space-between;
		}
	}
}

.main-navigation {
	order: 3;

	@media screen and (max-width: 37.5em) {
		display: inline-block;
		vertical-align: top;
		float: right;

		.toggled {
			li {
				font-size: 2rem;
			}
		}
		ul {
			width: 100%;
	    position: absolute;
	    left: 0;
	    right: 0;
	    top: 4rem;
	    bottom: 0;
	    background-color: white;
	    z-index: 999;
	    padding: 2rem;

	    li {
	    	a {
	    		&:before { 
	    			text-align: center;
	    		}
	    	}
	    }
		}
	}

	@media screen and (min-width: 37.5em) {
    margin-top: 1.5rem;
	}

	@media screen and (min-width: 68.750em) {
		order: 2;
    flex: 0 1 70%;
    margin-top: 0;
	}
	@media screen and (min-width: 89.563em) {
    flex: 0 1 40%;
	}


	ul {
		@media screen and (min-width: 68.750em) {
			justify-content: space-around;
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
