#content {
	dt {
		font-family: $font__mono;
		font-size: 1.75rem;
		letter-spacing: -1px;

		p {
			margin-bottom: 0;
		}
	}

	dd {
	  font-size: 1.45rem;
		margin: 0!important;
	  margin-top: 1.25rem;
	  font-weight: 100;
	}

	ul {
		padding: 0;
		margin: 0 auto;
		list-style-type: none;
		max-width: $text__width;
		font-size: 1.15rem;
    font-weight: 300;

		li {
			margin-bottom: 1rem;
	    padding-left: 1rem;
	    text-indent: -1rem;

			&:before {
				content: "\25EE";
				margin-right: 0.2rem;
			}
		}
	}

	ol {
		padding: 0;
    margin: 0 auto;
		max-width: $text__width;
		font-size: 1.15rem;
    font-weight: 300;
		counter-reset: list-counter;
		list-style-type: none;

		li {
			margin-bottom: 1rem;
	    padding-left: 1.5rem;
	    text-indent: -1rem;

			&:before {
				content: counter(list-counter);
				counter-increment: list-counter;
				margin-right: 0.35rem;
				font-weight: 500;
		    display: inline-block;
		    text-align: right;
		    min-width: 0.5rem;
			}
		}
	}
}