$med-grey: grey;
$black: black;
$color__primary: #f64410;
$color__secondary: #f6d365;
$color__primary-light: #fda085;
$color__contrast: #49c5cd;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__primary;
$color__link-visited: $color__primary;
$color__link-hover: lighten($color__primary, 20%);
$color__link-active: darken($color__primary, 5%);
$color__text-main: $black;
