input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $black;
	border: 2px solid $black;
	background-color: rgba( $white, 0.6 );
	@include border-radius(4);
	padding: 0.35rem 0.5rem;
	font-weight: 400;

	-webkit-transition: background-color 0.25s;
	-moz-transition: background-color 0.25s;
	-ms-transition: background-color 0.25s;
	-o-transition: background-color 0.25s;
	transition: background-color 0.25s;
	

	&:focus {
		color: $black;
		background-color: $white;
		box-shadow: 0 0 10px white;
	}
}

select {
	border: 2px solid $color__border-input;
}

textarea {
	width: 100%;
}
