body {
	background-color: $white;
	color: $black;
}
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

section {
	padding: 0 5%;
}

.entry-header {
	padding: 0 5%;
	margin: 0 auto;
	font-size: 1.35rem;
	font-weight: 100;
	padding: 2rem 0;
	max-width: $text__width;

	@media screen and (min-width: 35em) {
		padding: 0;
	}
}
.entry-content {
	margin: 0 auto;

	@media screen and (min-width: 35em) {
		padding: 0;
	}
}

.intro-section {
	// p:first-child {
	// 	font-size: 1.45rem!important;
	// 	font-weight: 100!important;
	// }
}


// Custom Page Builder Styles
.special-container,
.background-container {
	padding: 3rem 5% 5rem;
	margin: 4rem 0;

	@media screen and (min-width: 55.625em) {
		padding: 3rem 0 5rem;
	}


	p {
		a {
			font-family: $font__mono;
			font-size: 1.25rem;
		}
	}
}

.special-container {
	position: relative;
	
	@include linearGradient(lighten($color__contrast, 10%), lighten($color__contrast, 30%));
	h3 {
		font-weight: 100;
		font-size: 2.35rem;
		letter-spacing: 0.5px;
		margin-bottom: 1.25rem;
		z-index: 1;
	}

	p {
		line-height: 1.6;
		font-weight: 100!important;
		font-size: 1.75rem!important;
		letter-spacing: 0.5px;
		z-index: 1;
	}
	.floater-container {
		position: absolute;
    top: -4rem;
    bottom: -1rem;
    right: 0;
    left: 0;
		pointer-events: none;
		z-index: 0;

		svg {
			fill: $color__contrast;
	    opacity: 0.25;
    	display: block;
    	margin: 0 auto;
			width: 80rem;
		}
	}

}
.simple-container {
	
}
.dropcap-container {
	padding-top: 8rem;
	padding-bottom: 8rem;
	p {
		font-size: 1.5rem!important;
		font-weight: 100!important;
	}
	p:first-child:first-letter {
	  color: $color__primary;
	  float: left;
	  font-family: $font__mono;
	  font-size: 3rem;
	  line-height: 1;
	  padding: 10px 20px 10px;
	  margin-right: 1rem;
	  border: 4px solid $color__primary;
		@include border-radius(4);
	}
	p {
		a {
			font-family: $font__mono;
			font-size: 1.25rem;
		}
	}
}
.background-container {
	background-color: $color__secondary;
}
.lined-up-blocks {
  margin: 3rem auto;
  max-width: 100rem;
  text-align: center;

	@media screen and (min-width: 68.500em) {
	  text-align: left;
		width: auto;
	  display: flex;
	  flex-direction: row;
	  justify-content: space-between;
	}

	.block {
		border: 4px solid $black;
		@include linearGradient(white, $white);
		padding: 3rem 2rem 2rem;
		position: relative;
    max-width: 40rem;
    margin: 0 2%;
    display: inline-block;
		text-align: center;
		@include border-radius(4);
		margin-bottom: 2rem;

		@media screen and (min-width: 68.500em) {
			display: block;
			flex: 0 1 100%;
	    width: 40%;
			margin-bottom: 0;
		}

		&:after {
			content: "";
			display: block;
			position: absolute;
			border: 4px solid $black;
			width: 100%;
			height: 100%;
			left: -0.75rem;
			bottom: -0.75rem;
			z-index: -1;
			@include border-radius(4);
		}

		h1,h2,h3,h4 {
			display: inline-block;
			padding-bottom: 0.5rem;
			margin: 0 auto 0;
			border-bottom: 4px solid $black;
		}
	}
}

.text-w-image {
	text-align: center;
	max-width: $gallery__width;
  margin: 1rem auto;
	
	@media screen and (min-width: 68.500em) {
		display: flex;
		flex-direction: row; 
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 0;
	  margin: 4rem auto;
	}

	.text-block {
		text-align: left;

		@media screen and (min-width: 68.500em) {
			flex: 0 1 50%;
		}

		h3 {
			font-weight: 100;
			font-size: 2rem;
		}
		p {
			font-size: 1.35rem!important;
			font-weight: 100!important;
		}
	}
	.supporting-image-container {
		display: inline-block;
		margin-top: 2rem;
		
		@media screen and (min-width: 68.500em) {
			margin-top: 0;
			flex: 0 1 45%;
		}
	}
}

// Schedule

.page-schedule {
	.simple-container {
	}
}

.page-schedule dl {

	@media screen and (min-width: 37.500em) {
		display: flex;
	  flex-flow: row;
	  flex-wrap: wrap;
		overflow: visible;
	}
}

.page-schedule dt {
	color: $color__primary;
  font-size: 1.25rem!important;
  margin-top: 1.5rem;

  @media screen and (min-width: 37.500em) {
		flex: 0 0 30%;  
	  padding-right: 2rem;
	  text-align: right;
		text-overflow: ellipsis;
  	overflow: hidden;
  }
}

.page-schedule dd {

	@media screen and (min-width: 37.500em) {
		text-align: left; 
	  flex: 0 0 70%;
	  text-overflow: ellipsis;
	  overflow: hidden;  
	  margin-top: 1.3rem;
  }  
}

// Sponsors 
.sponsor-group {
	display: flex;
	flex-direction: column;
	border-top: 2px solid $med-grey;
	padding-top: 3rem !important;
  margin-top: 3rem!important;
}
.sponsor {
	text-indent: 0!important;

	@media screen and (min-width: 67.000em) {
		display: flex!important;
	  flex-wrap: wrap;
		flex-direction: row;
	}

	h4 {
		text-align: left!important;
		font-size: 1.85rem!important;
		font-weight: 100!important;
    margin: 0;
	}
	h5 {
		text-align: left;
		font-size: 1.25rem!important;
		font-weight: 400!important;
    margin: 0;
	}
	p {
		margin-left: 0!important; 
	}
}
.logo-container {
	max-width: 15rem;
	margin-bottom: 1rem;

	@media screen and (min-width: 67.000em) {
		margin-bottom: 0;
		flex: 0 1 20%;
		margin-right: 2%;
	}
}
.sponsor-content {
	@media screen and (min-width: 67.000em) {
		flex: 0 1 78%;
	}
}

// Homepage
.home .special-container {
	margin-top: -4rem;
	z-index: -1;
	padding-top: 6rem;
}
.home .gallery-columns-4 {

	.gallery-item{
		padding: 2rem;
	  vertical-align: middle;
		max-width: 50%;

		@media screen and (min-width: 54.688em) {
			max-width: 25%;
			padding: 0 2rem;
		}

		&:after {
			display: none;
		}
	}
}