body {
	background-color: $white;
	color: $black;
}
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-header {
	padding: 0 5%;
	margin: 0 auto;
	font-size: 1.35rem;
	font-weight: 100;
	padding: 2rem 0;
	max-width: $text__width;

	@media screen and (min-width: 35em) {
		padding: 0;
	}
}
.entry-content {
	padding: 0 5%;
	margin: 0 auto;

	@media screen and (min-width: 35em) {
		padding: 0;
	}
}