.gallery {
	margin-bottom: 1.5em;
	max-width: $gallery__width!important;
	margin: 0 auto;
	text-align: center;
}

.images {

	.gallery {
		margin-bottom: 0.25rem!important;
		@media screen and (min-width: 54.688em) {
			margin-bottom: 1rem!important;
		}
	}

	.gallery-item {
		position: relative;
		line-height: 0; 
		
		&:after {
			content: "";
			position: absolute;
			display: block;
			background-color: $white;
			top: 0;
			bottom: 0;
			right: -0.25rem;
			width: 0.25rem;
	    z-index: 1;

	    @media screen and (min-width: 54.688em) {
				width: 1rem;
				right: -1rem;
	    }
		}

		&:last-child {
			&:after {
				display: none;
			}
		}
	}
}

.gallery-item {
	display: inline-block;
	text-align: left;
  vertical-align: top;

	img {
		width: 100%;
	}

	p {
		text-indent: 0;
	}

	&:before {
		content: ""!important;
		display: none!important;
	}

	h4 {
		text-align: center;
		font-size: 1.65rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
	}

	p {
		font-size: 1.15rem;
	}
	
	.gallery-columns-1 & {
	  width: 100%;
	}

	.gallery-columns-2 & {
		max-width: 50%;
	}

	.gallery-columns-3 & {
		max-width: 98%;

		@media screen and (27.250em) {
			max-width: 50%;
		}

		@media screen and (min-width: 55.625em) {
			max-width: 33.33%;
		}
	}

	.gallery-columns-4 & {
		max-width: 25%;
	}

	.gallery-columns-5 & {
		max-width: 20%;
	}

	.gallery-columns-6 & {
		max-width: 16.66%;
	}

	.gallery-columns-7 & {
		max-width: 14.28%;
	}

	.gallery-columns-8 & {
		max-width: 12.5%;
	}

	.gallery-columns-9 & {
		max-width: 11.11%;
	}
}

.gallery-caption {
	display: block;
}


// Featured Images
.featured-image-container {
	display: block;
	width: 100%;
	text-align: center;
}
.featured-image {
	display: inline-block;
	position: relative;
	line-height: 0;
  margin-top: -1rem;
	margin-left: 5%;
	margin-right: 5%;
	max-width: $featured__width;

	@media screen and (min-width: 42.188em) {
	  margin-top: -2rem;
	}
	
	img {
		@include border-radius(4);
	}

	&:after {
		content: "";
		display: block;
		position: absolute;
		border: 4px solid $black;
		width: 100%;
		height: 100%;
		left: -0.75rem;
		bottom: -0.75rem;
		@include border-radius(4);
	}
}

// Sponsor-specific
.sponsor {
	
	p {
		text-indent: 0;
	}
}

// People-specific
.person-group-intro {
	font-weight: 100;
	margin-bottom: 5rem;

	p {
		max-width: $text__width;
		font-size: 1.35rem!important;
	}
}

.person {
	.headshot {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		display: block;
		height: 100%;
		width: 70%;
		margin: 0 auto;
		border: 1px solid darken( $color__background-body, 5% );
		@include border-radius(4);
		position: relative;

		&:after {
			content: "";
			display: block;
			position: absolute;
			border: 4px solid $black;
			width: 100%;
			height: 100%;
			left: -0.75rem;
			bottom: -0.75rem;
			@include border-radius(4);
		}
	}
}
.person .headshot img {
	width: 100%;
	height: auto;
}

.person .no-headshot {
	outline: 4px solid $black;
	outline-offset: -4px;
	text-align: center;
	@include border-radius(4);

	span {
		font-family: $font__mono;
		font-size: 2rem;
		position: absolute;    
		top: 50%;
    margin-top: -2rem;
		bottom: 0;
		right: 0;
		left: 0;
	}
}

// Social Media Links
.social-media {
	list-style-type: none!important;
	text-align: center;

}
.social-media-item {
	width: 3rem;
	display: inline-block;

	&:before {
		content: ""!important;
		display: none!important;
	}
}

.social-media-link {
	border-bottom: none;

	svg {
		fill: $black;

		-webkit-transition: fill 0.5s;
		-moz-transition: fill 0.5s;
		-ms-transition: fill 0.5s;
		-o-transition: fill 0.5s;
		transition: fill 0.5s;
	}

	&:hover {
		svg {
			fill: darken($color__secondary, 20%);
		}
	}

	&:active {
		svg {
			fill: darken($color__secondary, 25%);
		}
	}
}